body {
    background: linear-gradient(90deg,#ece9e6,#fff) !important;
}

#topbar {
    background: linear-gradient(90deg,#606c88,#3f4c6b);
    box-shadow: 0 9px 11px -5px rgb(0 0 0 / 20%), 0 18px 28px 2px rgb(0 0 0 / 14%), 0 7px 34px 6px rgb(0 0 0 / 12%);
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    z-index: 3;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    top: 0
}
#body-content {
    margin-top: 50px;
}
