<script  type="text/javascript">
    $(document).ready(function() {
        page_name = window.location.pathname.replace("/","")
        if (page_name != "") {
            $("#home" + page_name).addClass("active")
        } else {
            $("#home").addClass("active")
        }
        
    })
</script>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#3f4c6b;" id = "topbar">
    <!-- <a class="navbar-brand" href="#">AGV MONITOR DEV</a> -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" id="home" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id = "mqtt" href="/mqtt">MQTT</a>
            </li> -->
        </ul>
      
    </div>
</nav>
