<div id = "notify" >
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 200px;"></div>
        <!-- Position it -->
            <div style="position: absolute; top: 10px; right: 10px; z-index: 1000; ">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-circle text-danger mr-2"></i>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check-circle text-success mr-2"></i>
                {% endif %}
            {% endwith %}

            
            {% for message in messages %}
            {{ message }}
            <br/>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
        <script>
            // $('.alert').alert()
            $(".alert").fadeTo(2000, 500).slideUp(500, function() {
                $(".alert").slideUp(500);
            });
        </script>
    {% endif %}
{% endwith %}

</div>
