<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/socket.io.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>
<link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">